@font-face {
  font-family: 'Poppins';
  src: 	url('../fonts/Poppins-Regular.ttf') format('truetype'); 
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-Light';
	src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

body {
	font-family: 'Poppins';
	color: black;
}

.parallax {
	background-image: url('../img/slider-home.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	color: white;
}

.title {
	font-size: 100px;
	font-family: 'Poppins-Bold';
}

.bg-blue {
	background: #0d86ff !important;
}

.color-blue {
	color: #0d86ff; 
}

.logo-apple {
	float: right;
	margin-top: 20px;
}

.header {
	width: 65%;
	padding: 5vw 8vw 20vh 6vw;
}

.header p {
	font-size: 21px;
	font-family: 'Poppins-Light';
	color: #a5a4a4;
	margin-top: 6vh;
    margin-bottom: 10vh;
    padding-right: 5vh;
}

.header a {
	font-size: 16px;
	background-color: #0d86ff !important;
	color: white;
	padding: 15px 25px;
	border-radius: 10px;
}

.header a:hover {
	color: #fefefe;
}

/*
*	Reparation
*/

.card {
	text-align: center;
	border: 1px solid #eee;
	padding-top: 5vh;
	padding-bottom: 4vh;
	margin-bottom: 6vh;
}


.section-title {
	font-size: 50px;
	font-family: 'Poppins-Bold';
	margin-bottom: 2px;
}

.okeyapple hr {
	border-bottom: 4px solid #000;
	width: 20vh; 
	margin-top: 0;
}

p.description {
	font-family: 'Poppins-Light';
	font-size: 21px;
	padding-left: 8vh;
	padding-right: 8vh;
	margin-bottom: 9vh;
}

.okeyapple {
	padding-top: 10vh;
	padding-bottom: 10vh;
	padding-left: 10vh;
	padding-right: 10vh;
}

.padding-section {
	padding-top: 5vh;
	padding-bottom: 10vh;
	padding-left: 10vh;
	padding-right: 10vh;	
}

.card-title {
	font-size: 21px;
	font-family: 'Poppins-Bold';
}

.card-body {
	font-size: 16px;
	font-family: 'Poppins-Light';
	padding: 3vh;
}

.icon {
	width: 20vh;
	height: 20vh;
	display: inline-block;
}

.mac {
	background: transparent url(../icons/ico-mac-03.svg) no-repeat 0 0;
}

.macbook {
	background: transparent url(../icons/ico-laptop-04.svg) no-repeat 0 0;
}

.ipad {
	background: transparent url(../icons/ico-ipad-06.svg) no-repeat 0 0;
}

.iphone {
	background: transparent url(../icons/ico-iphone-05.svg) no-repeat 0 0;
}

.icon svg:hover .st2 {
	fill: #000;
}

.view-more {
	border: 1px solid #eee;
	display: inline-block;
	width: 35%;
	position: absolute;
	padding: 2vh;
	background: white;
	right: 32.5%;
	bottom: 3vh;
	color: black;
	font-family: 'Poppins-Light';
	font-size: 16px;
}

/*
*	Reparation
*/

.reparation {
	padding-bottom: 10vh;
	padding-left: 10vh;
	padding-right: 10vh;
}

.reparation .col-md-7 {
	padding-right: 8vw;
	padding-top: 5vh;
}

.reparation hr {
	border-bottom: 3px solid #0d86ff;
	width: 30%;
	display: inline-block;
}


.reparation .description {
	padding-left: 0;
}

/*
*	Selection
*/

.mb-10 {
	padding-top: 10%;
}

.selection {
	background: #f5f4f9;
}

.box {
	color: #a5a4a4;
	background: white;
	padding: 10vh 5vh 5vh 5vh;
	text-align: center;
	position: relative;
}

.box-title {
	font-family: 'Poppins-Bold';
	font-size: 21px;
}

.mid-circle {
	padding: 20px;
	border-radius: 50%;
	background: white;
	position: absolute;
	top: -20%;
	right: 30%;
}

.box-description {
	font-family: 'Poppins-Light';
	font-size: 16px;
	color: black;
}

/*
*	Contac
*/

.contact .description {
	padding-left: 0;
}

.contact .form-group {
	padding-top: 20px;
}

.contact input, .contact textarea {
	border-radius: 0;
}

.btn-send {
	background: #0d86ff;
	padding: 1vh 8vh;
	color: white;
	border-radius: 0;
	font-size: ;
	font-family: 'Poppins-Light';
	font-size: 16px;
}

/*
*	Footer
*/

footer {
	background: #434344;
	color: white;
}

footer h4{
	font-family: 'Poppins-Bold';
	font-size: 21px;
}

footer p {
	font-family: 'Poppins-Light';
	font-size: 16px;
}

footer .redes img {
	width: 50px;
}

footer .contac {
	padding-left: 10%;
}

/*
*		PAGE MACBOOK
*/

.parallax-macbook {
	background-image: url('../img/banner-mackbook.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	color: white;
}


.lowercase {
	text-transform: lowercase !important;
}

.reparation .text-desc {
	padding-right: 7vw;
	padding-top: 5vh;
}

.reparation .img-reparation {
	margin-top: 25vh;
}

.pages {
	padding-bottom: 0;
}

.parallax-ipad {
	background-image: url('../img/slider-ipad.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	color: white;
}

.parallax-iphone {
	background-image: url('../img/slider-iphone.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	color: white;
}

.parallax-iphone-batery {
	background-image: url('../img/slider-iphone-bateria.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	color: white;
}

.parallax-testimonios {
	background-image: url('../img/slider-testimonios.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	color: white;
}