@font-face {
  font-family: 'Poppins';
  src: 	url('../fonts/Poppins-Regular.ttf') format('truetype'); 
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins-Light';
	src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

body {
	font-family: 'Poppins';
}

.parallax {
	background-image: url('../img/slider-home.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	color: white;
}

.title {
	text-transform: uppercase;
	font-size: 100px;
	font-family: 'Poppins-Bold';
}

.bg-blue {
	background: #0d86ff !important;
}

.color-blue {
	color: #0d86ff; 
}

.logo-apple {
	float: right;
	margin-top: 20px;
}

.header {
	width: 65%;
	padding: 5vw 8vw 20vh 6vw;
}

.header p {
	font-size: 21px;
	font-family: 'Poppins-Light';
	color: #a5a4a4;
	margin-top: 6vh;
    margin-bottom: 10vh;
    padding-right: 5vh;
}

.header a {
	font-size: 16px;
	background-color: #0d86ff !important;
	color: white;
	padding: 15px 25px;
	border-radius: 10px;
}

.header a:hover {
	color: #fefefe;
}

.card {
	text-align: center;
	border: 1px solid #eee;
	padding-top: 5vh;
	padding-bottom: 4vh;
	margin-bottom: 6vh;
}

.okeyapple .title {
	font-size: 50px;
	font-family: 'Poppins-Bold';
	color: #0d86ff;
	margin-bottom: 2px;
}

.okeyapple hr {
	border-bottom: 4px solid #000;
	width: 20vh; 
	margin-top: 0;
}

.okeyapple p.description {
	font-family: 'Poppins-Light';
	font-size: 21px;
	padding-left: 8vh;
	padding-right: 8vh;
	margin-bottom: 9vh;
}

.okeyapple {
	padding-top: 10vh;
	padding-bottom: 10vh;
	padding-left: 10vh;
	padding-right: 10vh;
}

.card-title {
	font-size: 21px;
	font-family: 'Poppins-Bold';
}

.card-body {
	font-size: 16px;
	font-family: 'Poppins-Light';
	padding: 3vh;
}

.icon {
	width: 20vh;
	height: 20vh;
	display: inline-block;
}

.mac {
	background: transparent url(../icons/ico-mac-03.svg) no-repeat 0 0;
}

.macbook {
	background: transparent url(../icons/ico-laptop-04.svg) no-repeat 0 0;
}

.ipad {
	background: transparent url(../icons/ico-ipad-06.svg) no-repeat 0 0;
}

.iphone {
	background: transparent url(../icons/ico-iphone-05.svg) no-repeat 0 0;
}

.icon svg:hover {
	fill: red !important;
}

.view-more {
	border: 1px solid #eee;
	display: inline-block;
	width: 35%;
	position: absolute;
	padding: 2vh;
	background: white;
	right: 32.5%;
	bottom: 3vh;
	color: black;
	font-family: 'Poppins-Light';
	font-size: 16px;
}